<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    
    <targets>
        <target name="logfile" xsi:type="File" fileName="${basedir}/logs/CDB_Server.log"
                layout="${longdate}|${level}|${message}|${exception:format=tostring}|${all-event-properties}"
                archiveOldFileOnStartup="true"
                archiveFileName="${basedir}/logs/archives/CDB_Server_${shortdate}_{##}.log"
                archiveNumbering = "Rolling"
                createDirs="true"/>
        <target name="logconsole" xsi:type="Console" 
                layout="${longdate}|${level}|${message}| ${exception:format=tostring}" />
    </targets>

    <rules>
        <!-- Internal ASP.NET namespaces -->
        <logger name="System.*" finalMinLevel="Warn" />
        <logger name="Microsoft.*" finalMinLevel="Warn" />
        <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
        
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>